<form class="row" (ngSubmit)="updateUser()">
    <div class="col-sm-2">
        <input 
          type="text"
          name="firstname"
          [(ngModel)]="user.firstname">
    </div>
    <div class="col-sm-2">
        <input 
          type="text"
          name="lastname"
          [(ngModel)]="user.lastname">
    </div>
    <div class="col-sm-2">
        <input 
          type="text"
          name="username"
          [(ngModel)]="user.username">
    </div>
    <div class="col-sm-3">
        <input
          type="email" 
          name="email"
          [(ngModel)]="user.email">
    </div>
    <div class="col-sm-3">
      <button class="btn btn-success" type="submit">Submit</button>
      <button class="btn btn-primary" (click)="cancelFormSubmit()">Cancel</button>
    </div>
</form>