<button class="btn btn-primary" (click)="toggleAddUserForm()">Add a New User</button>
<form class="col-sm-12" *ngIf="displayForm" (ngSubmit)="submitNewUser()" #newUserForm>
  <div class="row">
    <label class="col-sm-2" for="firstname">First Name</label>
    <input 
      class="col-sm-4"
      type="text"
      name="firstname"
      [(ngModel)]="firstname"
      placeholder="Please enter your first name"/>
    <label  class="col-sm-2" for="lastname">Last Name</label>
    <input 
      class="col-sm-4"
      type="text"
      name="lastname"
      [(ngModel)]="lastname"
      placeholder="Please enter your lastname"/>
  </div>
  <div class="row">
    <label class="col-sm-2" for="username">Username</label>
    <input 
      class="col-sm-4"
      type="text"
      name="username"
      [(ngModel)]="username"
      placeholder="Please enter a username"/>
    <label class="col-sm-2" for="email">Email</label>
    <input 
      class="col-sm-4"
      type="email" 
      name="email"
      placeholder="Please enter a valid email"
      [(ngModel)]="email"/>
  </div>
  <div class="row button-row">
    <button class="col-md-2 btn btn-success" type="submit">Submit</button>
    <button class="col-md-2 btn btn-primary" (click)="cancelFormSubmit()">Cancel</button>
  </div>
</form>