.dashboard {
    border: 1px solid #dfdfdf;
    background-color: #fff;
    padding: 3em;
}

.table-body {
    &__row {
        margin: .5em 0;
        &__buttons {
        button {
            margin-right: 1em;
        }
    }
    }
}

.headers {
    padding-top: 1em;
    border-bottom: 1px solid #dfdfdf;
}