<div class="container dashboard text-center">
  <h1>Your Jumpcloud Users</h1>
  <div class="row">
    <table class="table table-stripped">
      <thead>
        <tr>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userList; let indexOfelement=index;">
          <td *ngIf="!showEdit || selectedUserId !== user.id">{{user.firstname}}</td>
          <td *ngIf="!showEdit || selectedUserId !== user.id">{{user.lastname}}</td>
          <td *ngIf="!showEdit || selectedUserId !== user.id">{{user.username}}</td>
          <td *ngIf="!showEdit || selectedUserId !== user.id">{{user.email}}</td>
          <td *ngIf="!showEdit || selectedUserId !== user.id">
            <button class="btn btn-warning" (click)="toggleShowEdit(user.id)">Edit</button>
            <button class="btn btn-danger" (click)="deleteSelectedUser(user.id)">Delete</button>
          </td>
          <td>
          <app-update-user-form 
            *ngIf="showEdit && selectedUserId === user.id"
            [user]="user"></app-update-user-form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <app-add-user-form></app-add-user-form>
</div>